.slideshow-page {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
}

.slideshow-container {
    position: relative; /* Add this line */
    width: 60%;
    height: 80%;
    margin: auto;
    border: 1px solid lightgrey;
    border-radius: 30px;
    overflow: hidden;
}
  
.slide {
    position: absolute; /* Position slides absolutely within container */
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease; /* Smooth transition for the transform property */
  }

  .arrow-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 42px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ccc;
    background-color: white;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    transition: opacity 0.5s ease;
    cursor: pointer;
    padding-bottom: 40px;
    z-index: 999;
  }
  
  .go-back {
    left: 5px; /* Adjust as needed */
  }
  
  .go-forward {
    right: 5px; /* Adjust as needed */
  }
  
  